<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YurtKayitSistemi.Properties.Settings.Proje_YurtOtomasyonuConnectionString"
            connectionString="Data Source=DESKTOP-N7L3MLF;Initial Catalog=Proje_YurtOtomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>